@page "/Account/Login"

<EditForm FormName="loginForm" Model="LoginUser" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="email">Email:</label>
        <InputText id="email" @bind-Value="LoginUser.Email" class="form-control" />
    </div>

    <div class="form-group">
        <label for="password">Password:</label>
        <InputText id="password" @bind-Value="LoginUser.Password" type="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Log in</button>
</EditForm>