@rendermode InteractiveServer

<h3>Inbox</h3>

@if (@MessageCount > 0)
{
    <h4>Você tem @MessageCount mensagens dos seus super herois.</h4>
}
else
{
    <h4>Tudo certo, os super herois não enviaram nenhuma mensagem.</h4>
}

<br />